<body class="genres">
  <div id="genre-page">
    <h1 id="genre-intro">You're in.</h1>

    <h2 id="genre-intro-2">Browse by genre:</h2>

      <div class="show_books">
          <% @genres.each do |genre| %>
              <p class="show-genre"><%= link_to genre.name, genre_path(genre.id), class: "show-genre", id: "genre-list" %></p>
          <% end %>
      </div>
  </div>

  <h2>New to the library</h2>
  <p>These books are brand spankin' new!</p>

  <div class="carousel">
    <ol>
    <div id="carousel-text">
      <% Book.newest_books.each do |book| %>
          <li><%=link_to book.title, book_path(book.id)%> by <%=book.author%></li>
      <% end %>
    </div>
    </ol>
  </div>
</body>
