<div id="book-form">

<h1>Add a book to your library</h1>

<h3>To add a book that you own, please fill out the form below. Title & author are mandatory.
  <br>
  You can also upload an image of the cover.</h3>

<%= render 'form' %>

</div>
