/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require slick
 */

body {
  font-family: "Helvetica Neue", Helvetica;
  background-color: white;
}

.signed-in-confirm {
  color: #000000;
  padding: 1em;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  width: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

a.nav-button {
  background-color: black;
  box-shadow: 0 5px 0 black;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  letter-spacing: 2px;
  display: block;
}

a.nav-button:hover {
  background-color: #161616;
  cursor: pointer;
}

a.nav-button:active {
  box-shadow: none;
  top: 5px;
}

#login-form-welcome {
  font-size: 45px;
}

#signup-form-welcome {
  font-size: 25px;
}

.form {
  background-color: #000000;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: normal;
  width: 200px;
}

.actions {
  font-size: 45px;
}

.not-signedin {
  background-color: black;
  box-shadow: 0 5px 0 black;
  color: white;
  padding: 1em;
  text-decoration: none;
  letter-spacing: 2px;
  display: block;
  margin: 20px 0px 5px 0px;
  width: 200px;
}
