// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-book {
  background-image: image-url('add-book.jpg');
  background-size: cover;
}

.book-show-page {
  background-image: image-url('open-book.jpg');
}

.book {
  margin-left: 200px;
  width: 30%;
}

#book-form {
  width: 450px;
  font-size: 16px;
  background: #FFFFFF;
  padding: 30px 30px 15px 30px;
  border: 5px solid #000000;
}
