// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-show-page {
  background-image: image-url('open-book.jpg');

}

.book {
  margin-left: 200px;
  width: 30%;
}

#book-form {
    background-color: #FFFFFF;
    width: 50%
}
