// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.genres {
  background-image: image-url('browse-library.jpg');
}

#genre-list {
  text-decoration: none;
  color: #FFFFFF
}

#genre-list:hover {
    color: #ffff00;
}
