// Place all the styles related to the Library controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-size: 100%;
  font-family: "Helvetica Neue", Helvetica;
}

.my-library-page {
  background: none;
}

.library {
  width: 50%
}

a#library-button {
    display: block;
    text-decoration: none;
    width: 115px;
    height: 25px;
    background: #b0c4de;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

a#library-button:hover {
  background: #0000cd;
}
