// Place all the styles related to the Library controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url('Background.jpg');
  background-size: 100%;
  font-family: 'CaladeaRegular'
}

.welcome {
  background-color: #FFFFFF
}

#intro {
  font-weight: bold;
  font-style: italic;
  color: #191970
}

.library {
  background-color: #FFFFFF;
  width: 50%
}
