body {
  background-image: image-url('Background.jpg');
}

.welcome #intro {
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-size: 50px;
}

.enter a {
  background-color: black;
  box-shadow: 0 5px 0 black;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  width: 20%;
  margin-left: 40%;
}

.enter a:hover {
  background-color: #161616;
  cursor: pointer;
}

.enter a:active {
  box-shadow: none;
  top: 5px;
}
